In [3]:
import numpy as np
import pandas as pd
data=pd.read_csv(r"E:\all_grains_data.csv")
data
datac=data

In [10]:
#Which commodity was having the highest opening price for the day.
data.head(10000)

     ticker commodity        date    open    high     low   close  volume
0      ZC=F      Corn  2000-07-17  182.25  182.25  178.25  179.25   19385
1      ZC=F      Corn  2000-07-18  179.00  183.25  179.00  180.75   25205
2      ZC=F      Corn  2000-07-19  180.00  182.75  178.75  182.00   17126
3      ZC=F      Corn  2000-07-20  181.50  187.00  181.00  186.00   18742
4      ZC=F      Corn  2000-07-21  185.50  188.00  185.00  187.75   16814
...     ...       ...         ...     ...     ...     ...     ...     ...
9995   ZO=F       Oat  2017-06-19  267.50  272.25  263.25  268.25     492
9996   ZO=F       Oat  2017-06-20  269.25  270.00  261.00  261.25     816
9997   ZO=F       Oat  2017-06-21  266.50  266.50  257.75  258.75     383
9998   ZO=F       Oat  2017-06-22  258.00  261.00  255.00  257.25     458
9999   ZO=F       Oat  2017-06-23  256.75  260.50  252.00  254.50    1390

[10000 rows x 8 columns]

In [7]:
data.tail()

      ticker commodity        date     open     high      low    close  volume
34878   ZS=F   Soybean  2023-09-11  1352.50  1352.50  1352.00  1352.50      36
34879   ZS=F   Soybean  2023-09-12  1348.75  1348.75  1331.75  1331.75     274
34880   ZS=F   Soybean  2023-09-13  1325.50  1336.00  1325.50  1336.00     201
34881   ZS=F   Soybean  2023-09-14  1343.75  1343.75  1343.75  1343.75  138778
34882   ZS=F   Soybean  2023-09-15  1360.50  1367.75  1338.25  1340.25  138778

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34883 entries, 0 to 34882
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ticker     34883 non-null  object
 1   commodity  34883 non-null  object
 2   date       34883 non-null  object
 3   open       34883 non-null  float64
 4   high       34883 non-null  float64
 5   low        34883 non-null  float64
 6   close      34883 non-null  float64
 7   volume     34883 non-null  int64
dtypes: float64(4), int64(1), object(3)
memory usage: 2.1+ MB

In [14]:
datac["open"].max()

2435.0

In [15]:
datac.loc[datac["open"]==2435.0]

      ticker   commodity        date    open    high     low   close  volume
19437   ZR=F  Rough Rice  2008-04-24  2435.0  2468.5  2396.0  2396.0    1218

In [ ]:
#Rough Rice commodity has the highest commodity price

In [24]:
#Which commodity price reached  maximum during the trading session.
datac["high"].max()

2468.5

In [25]:
datac.loc[datac['high']==2468.5]

      ticker   commodity        date    open    high     low   close  volume
19437   ZR=F  Rough Rice  2008-04-24  2435.0  2468.5  2396.0  2396.0    1218

In [ ]:
#Rough Rice price reached maximum during the trading session

In [57]:
#What is the average Market's opening price for the Oat in 2010
datac['date']=pd.to_datetime(datac['date'])
a=(datac["commodity"]=="Oat")&(datac["date"]<='2010-12-31')&(datac["date"]>='2010-1-1')
datac.loc[a]['open'].mean()

275.11607142857144

In [ ]:
#275.116071428 is the average markets opening price for the oat in the year 2010

In [27]:
#What is the maximum and minimum Number of contracts traded during the 2009 

a=(datac["date"]>='2009-01-01')&(datac["date"]<='2009-12-31')
datac.loc[a]['volume'].max()

252221

In [31]:


a=(datac["date"]>='2009-01-01')&(datac["date"]<='2009-12-31')
datac.loc[a]['volume'].min()

0

In [ ]:
#252221 is the maximum and 0 is the minimum no of contracts traded respectively

In [32]:
#Which year have  maximum and minimum Number of contracts traded
datac["volume"].min()

0

In [33]:
datac["volume"].max()

523849

In [36]:
datac.loc[datac['volume']==0]

      ticker commodity        date     open     high      low    close  volume
821     ZC=F      Corn  2003-12-11   250.50   253.00   247.00   252.00       0
1328    ZC=F      Corn  2005-12-13   195.50   195.50   195.50   195.50       0
4486    ZC=F      Corn  2018-07-03   340.25   345.25   339.25   342.75       0
4528    ZC=F      Corn  2018-08-31   341.00   352.00   340.75   351.00       0
5682    ZC=F      Corn  2023-04-06   652.25   652.50   641.75   643.50       0
...      ...       ...         ...      ...      ...      ...      ...     ...
29219   ZS=F   Soybean  2001-03-13   455.00   455.00   455.00   459.00       0
30306   ZS=F   Soybean  2005-07-12   698.50   698.50   698.50   698.50       0
33573   ZS=F   Soybean  2018-07-03   849.50   852.75   843.00   844.00       0
33615   ZS=F   Soybean  2018-08-31   816.00   833.25   816.00   833.00       0
34771   ZS=F   Soybean  2023-04-06  1510.00  1510.25  1483.25  1492.50       0

[2812 rows x 8 columns]

In [49]:
#Which commodity have the average lowest opening price around 2001 to 2005
a=(datac["date"]>='2001-01-01')&(datac["date"]<='2005-12-31')
b=datac.loc[a]
b

      ticker commodity        date    open    high    low   close  volume
98      ZC=F      Corn  2001-01-02  221.00  221.00  221.0  222.50    1466
99      ZC=F      Corn  2001-01-16  219.00  219.00  217.5  218.50     957
100     ZC=F      Corn  2001-01-17  216.00  217.00  215.5  216.25     519
101     ZC=F      Corn  2001-01-18  217.50  219.00  217.5  218.75     940
102     ZC=F      Corn  2001-01-19  218.25  219.50  218.0  218.50     519
...      ...       ...         ...     ...     ...    ...     ...     ...
30423   ZS=F   Soybean  2005-12-23  612.50  615.25  611.5  613.00     598
30424   ZS=F   Soybean  2005-12-27  613.75  619.50  606.5  611.50     300
30425   ZS=F   Soybean  2005-12-28  611.00  613.50  607.5  611.00     150
30426   ZS=F   Soybean  2005-12-29  610.00  610.00  605.5  597.75     129
30427   ZS=F   Soybean  2005-12-30  596.50  597.50  595.0  602.00     132

[7330 rows x 8 columns]

In [50]:
c=b.groupby("commodity")
e=c['open'].mean()
e

commodity
Corn            226.167136
KC HRW Wheat    343.651033
Oat             159.646309
Rough Rice      616.746411
Soybean         594.099841
Soybean Oil      21.416110
Name: open, dtype: float64

In [ ]:
#soyabean oil has low commodiity during period 2001 and 2005

In [53]:
#Which commodity have the best average  Market's closing price
a=datac.groupby("commodity")
a["close"].mean()

commodity
Corn             409.404772
KC HRW Wheat     563.693282
Oat              278.657674
Rough Rice      1143.607925
Soybean          998.015728
Soybean Oil       36.820361
Name: close, dtype: float64

In [ ]:
#Rough rice has the highest average martkets closing price

In [69]:
#Which year corn have the highest and lowest Number of contracts traded
a=datac.loc[datac['commodity']=="Corn"]
a['volume'].max()
datac.loc[datac["volume"]==523849]

     ticker commodity        date    open   high     low   close  volume
4216   ZC=F      Corn  2017-06-07  378.25  387.0  378.25  384.75  523849

In [81]:
a=datac.loc[datac['commodity']=="Corn"]
a['volume'].min()
a.loc[a['volume']==0]

     ticker commodity        date    open    high     low   close  volume
821    ZC=F      Corn  2003-12-11  250.50  253.00  247.00  252.00       0
1328   ZC=F      Corn  2005-12-13  195.50  195.50  195.50  195.50       0
4486   ZC=F      Corn  2018-07-03  340.25  345.25  339.25  342.75       0
4528   ZC=F      Corn  2018-08-31  341.00  352.00  340.75  351.00       0
5682   ZC=F      Corn  2023-04-06  652.25  652.50  641.75  643.50       0

In [ ]:
#in the year 2017 corn has highest no of contracts and inthe years 2003,2005,2018 corn has the least no of contracts